
  <div class="col-md-4 pull-right">
    <app-registration-edit (onAdd)="onAddRegistration($event)" (onUpdate)="onUpdateRegistration($event)" [editMode]='edit' [id]='id' [cid]='cid' [rid]='rid'></app-registration-edit>
  </div>
<div class="col-md-5"*ngFor="let registration of club.registrations; let i = index">
	<div class="col-md-10">
	<a 
	  class="list-group-item clearfix">
	  <div class="pull-left">
	    <h4 class="list-group-item-heading">{{ registration.name }}</h4>
	    <p class="list-group-item-text">{{ registration.description }}</p>
	  </div>
	</a>
	</div>
  <button class="btn btn-success col-md-2" (click)="onEditRegistration(club.registrations[i]._id)"[routerLink]="[club.registrations[i]._id, 'edit']">Edit</button>

  <button class="btn btn-danger  col-md-2" (click)="onDeleteRegistration(club._id, club.registrations[i]._id, i)">Delete</button>
</div>
