
  <div class="col-md-4 pull-right">
    <app-club-edit (onAdd)="onAddClub($event)" (onUpdate)="onUpdateClub($event)" [editMode]='edit' [id]='id' [cid]='cidx'></app-club-edit>
  </div>

<div *ngFor="let club of sport.clubs; let i = index" class="col-md-7">
<a
  style="cursor: pointer;"
  [routerLink]="['club', club._id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ club.name }}</h4>
    <p class="list-group-item-text">{{ club.description }}</p>
  </div>
</a>
  <button class="btn btn-success col-md-2" (click)="onEditClub(sport._id, sport.clubs[i]._id)"[routerLink]="[club._id, 'edit']">Edit</button>

  <button class="btn btn-danger  col-md-2" (click)="onDeleteClub(sport._id, sport.clubs[i]._id, i)">Delete</button>
</div>