
  <div class="col-md-4 pull-right col-xs-12">
    <app-sport-edit (onAdd)="onAddSport($event)" (onUpdate)="onUpdateSport($event)" [editMode]='edit' [id]='id'></app-sport-edit>
  </div>
<div *ngFor="let sport of sports; let i = index" class="col-md-7">
  <div class="col-md-6 col-xs-12">

  <a 
    style="cursor: pointer;"
    [routerLink]="[sport._id]"
    routerLinkActive="active"
    class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ sport.name }}</h4>
      <p class="list-group-item-text">{{ sport.description }}</p>
    </div>
  </a>
  </div>


  <button class="btn btn-success col-md-2 col-xs-12" (click)="onEditSport(sport._id)"[routerLink]="[sport._id, 'edit']">Edit</button>

  <button class="btn btn-danger  col-md-2 col-xs-12" (click)="onDeleteSport(sport._id, i)">Delete</button>

</div>


