<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!registrationForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" id="firstname" formControlName="firstname" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" id="lastname" formControlName="lastname" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" id="age" formControlName="age" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="gender"><input type="radio" formControlName="gender" value="Male">Male</label>
            <label for="gender"><input type="radio" formControlName="gender" value="Female">Female</label>
          </div>
        </div>
      </div>  
    </form>
  </div>
</div>
